@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.logo {
  color: #2196f3;
}

.header-navigation, .header-contacts, .list-buttons, .feature-list, .images__list, .list-icons, .footer-list-icons, .team-list, .client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-contacts {
  margin-left: auto;
}

.client-list__logo-client {
  fill: #afb1b8;
}

.footer-list-icons__svg-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.checkbox {
  /* Не поддерживается на Е11 */
  /* position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden__title, .card-set__overlay-portfolio, .backdrop {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  font-size: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-section {
  padding: 94px 0 47px 0;
}

.images-section {
  padding: 47px 0 94px 0;
}

.team-section {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.clients-section {
  padding: 94px 0;
}

.project-section {
  padding: 94px 0;
}

.footer-section {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-icons-wrapper {
  margin-top: 12px;
  width: 206px;
}

.footer-form {
  margin: 12px 0 0 auto;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  color: primary-color;
  text-align: center;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
}

.page-header {
  position: relative;
  padding: 24px 0px;
}

.page-header::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  background-color: #ececec;
  width: 100%;
  height: 1px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo-wrapper {
  margin-bottom: 20px;
}

.logo {
  height: 31px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
}

.logo__studio {
  margin-right: 93px;
}

.logo__studio--dark {
  color: #000000;
}

.logo {
  height: 31px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
}

.logo__studio {
  font-family: inherit;
}

.logo__studio--white {
  color: #ffffff;
}

.header-navigation__list-item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation__navigation {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation__navigation:hover, .header-navigation__navigation:focus {
  color: #2196f3;
}

.header-navigation__current {
  position: relative;
  color: #2196f3;
}

.header-navigation__current::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -30.5px;
  background-color: #2196f3;
}

.header-contacts__list-item:not(:last-child) {
  margin-right: 30px;
}

.header-contacts__link-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link-contact:hover,
.header-contacts__link-contact:focus {
  color: #2196f3;
}

.header-contacts__header-icon {
  margin-right: 10px;
  fill: #757575;
}

.header-contacts__link-contact:hover .header-contacts__header-icon,
.header-contacts__link-contact:focus .header-contacts__header-icon {
  fill: #2196f3;
}

.first-section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.first-section__main-title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}

.primary-button {
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover, .primary-button:focus {
  background-color: #ffffff;
  color: #2196f3;
}

.list-buttons {
  width: 611px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.list-buttons__secondary-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-buttons__secondary-button:hover, .list-buttons__secondary-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-field__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 6%;
  color: #ffffff;
  border-radius: 4px;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-field__text-button {
  margin-right: 10px;
}

.form-button {
  display: block;
  width: 200px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 6%;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.feature-list__description {
  width: 270px;
}

.feature-list__title-one {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
}

.feature-list__description-list {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.svg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.svg-wrapper__icon-picture {
  display: block;
}

.picture-item-wrapper {
  position: relative;
}

.picture-item-wrapper__overlay-picture {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.picture-item-wrapper__text-overlay {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.list-icons {
  padding: 0 32px;
}

.list-icons__icon-color {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icons__svg-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icons {
  padding: 0 32px;
}

.list-icons__svg-link:hover, .list-icons__svg-link:focus {
  background-color: #2196f3;
}

.list-icons__svg-link:hover .list-icons__icon-color,
.list-icons__svg-link:focus .list-icons__icon-color {
  fill: #ffffff;
}

.footer-list-icons__svg-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-icons__svg-link:hover, .footer-list-icons__svg-link:focus {
  background-color: #2196f3;
}

.footer-list-icons--footer-social-icon {
  fill: #ffffff;
}

.team-list__description-team {
  text-align: center;
}

.team-wrapper {
  padding: 30px 0;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-wrapper__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: primary-color;
}

.team-wrapper__position {
  margin-bottom: 16px;
  color: #757575;
}

.client-list__client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__logo-client {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__client-link:hover, .client-list__client-link:focus {
  border: 1px solid #2196f3;
}

.client-list__client-link:hover .client-list__logo-client,
.client-list__client-link:focus .client-list__logo-client {
  fill: #2196f3;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-set__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.card-set__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.card-set__project-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__project-link:hover,
.card-set__project-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__project-link:hover .card-set__overlay-portfolio,
.card-set__project-link:focus .card-set__overlay-portfolio {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card-set__picture-portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.card-set__overlay-portfolio {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-set__text-overlay-portfolio {
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

.card-set__card-wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-set__project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  margin-bottom: 4px;
  padding: 20px 24px 0;
}

.card-set__chapter {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  padding: 0 24px 20px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.footer-wrapper__footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.footer-wrapper__direction:hover, .footer-wrapper__direction:focus {
  color: #2196f3;
}

.footer-wrapper__direction {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.footer-wrapper__footer-link:hover, .footer-wrapper__footer-link:focus {
  color: #2196f3;
}

.footer-wrapper__footer-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 12px;
  text-align: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 8px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-button:hover .modal__svg-close-button,
.modal__close-button:focus .modal__svg-close-button {
  fill: #2196f3;
}

.footer-form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-field__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-origin: border-box;
  color: #ffffff;
  cursor: pointer;
}

.footer-form-field__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-field__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-field__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-field__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.name-input {
  display: inline-block;
  font-size: 12px;
  color: #757575;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.form-field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:hover .form-field,
.input-wrapper:focus .form-field {
  border-color: #2196f3;
}

.svg-input {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:hover .svg-input,
.input-wrapper:focus .svg-input {
  fill: #2196f3;
}

.form-comments-label {
  display: block;
  margin-bottom: 20px;
}

.name-input {
  font-size: 12px;
  color: #757575;
  margin-bottom: 4px;
}

.field-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-comments:hover, .field-comments:focus {
  border-color: #2196f3;
}

.field-comments::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.field-comments:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.field-comments::-ms-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.field-comments::placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: block;
  position: relative;
  margin: 0 11px 30px 12px;
}

.checkbox:checked + .svg-checkbox {
  background-color: #2196f3;
  fill: #2196f3;
  border-radius: 3px;
}

.svg-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/Vector.svg);
  background-size: cover;
  background-origin: border-box;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-checkbox {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-left: 24.38px;
}

.link-checkbox {
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
  text-decoration: underline;
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor;
  text-underline-position: under;
}
/*# sourceMappingURL=main.css.map */