
// first-section button, footer-form button, modal-form button

.primary-button {
  display: block;                                               
  padding: 10px 32px;
  background-color: $accent-color;
  width: 200px;
  margin: 0 auto;
  color: $white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 6%;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms $timing-function,
    color 250ms $timing-function;


  &--hover:hover,
  &--focus:focus {
  background-color: $white-color;
  color: $accent-color;
  }

  &--box-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }

  &--with-margin-right {
    margin-right: 10px;
  }

  &--flex{
     display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Secondary Buttons in portfolio

.secondary-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: $team-color;
  color: $primary-color;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms $timing-function,
    color 250ms $timing-function, box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
  background-color: $accent-color;
  color: $white-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
