.footer-section {
  padding: 60px 0;
  background-color: $black-color;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--footer-flex {
    display: flex;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 70px;

  &__direction:hover,
  &__direction:focus {
    color: $accent-color;
  }

  &__direction {
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    color: $white-color;

    transition: color 250ms $timing-function;
  }
}


