.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &__footer-title {
    font-weight: 700;
    font-size: 14px;
    color: $white-color;
    margin: 12px 0 20px;
  }
}

.footer-list-icons {
  display: flex;
  width: 206px;
  justify-content: space-between;

  &__svg-link {
    @extend %svg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;

    transition: background-color 250ms $timing-function;
  }
}

.footer-list-icons {
  @extend %flex;
  width: 206px;

  &__svg-link:hover,
  &__svg-link:focus {
    background-color: $accent-color;
  }

  &--footer-social-icon {
    fill: $white-color;
  }
}
