.footer-form {
  margin: 12px 0 0 auto;

  &__caption {
    font-size: 14px;
    font-weight: 700;
    color: $white-color;
    margin-bottom: 20px;
  }
}

.form-field-button-wrapper {
  display: flex;

  &__form-field {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    background-origin: border-box;
    color: $white-color;
    cursor: pointer;
  }
  &__form-field::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.form-field-button-wrapper {
  display: flex;

  &__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: $accent-color;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__text-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 6%;
    color: $white-color;
    margin-right: 10px;
  }
}