.footer-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 70px;

  &__footer-link:hover,
  &__footer-link:focus {
  color: $accent-color;
  }

  &__footer-link {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: $link-color;

  transition: color 250ms $timing-function;
  }
}