.header-list__logo {
  @extend %blue-color;
  height: 31px;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;

  .header-list__web {
    margin-right: 93px;
    color: $black-dark-color;
  }
}
