// input
.modal__form-label {
  display: block;
  margin-bottom: 10px;
}

.modal__name-input {
  display: inline-block;
  font-size: 12px;
  color: $onemore-color;
  margin-bottom: 4px;
}

.modal__input-wrapper {
  position: relative;
}

.modal__form-field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms $timing-function;
}

.modal__input-wrapper:hover .modal__form-field,
.modal__input-wrapper:focus .modal__form-field {
    border-color: $accent-color;
}


.modal__svg-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  cursor: pointer;

  transition: fill 250ms $timing-function;
}

.modal__input-wrapper:hover .modal__svg-input,
.modal__input-wrapper:focus .modal__svg-input {
  fill: $accent-color;
}
// textarea

.modal__form-comments-label {
  display: block;
  margin-bottom: 20px;
}

.modal__name-input {
  font-size: 12px;
  color: $onemore-color;
  margin-bottom: 4px;
}

.modal__field-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms $timing-function;

  &:hover,
  &:focus {
  border-color: $accent-color;
  }
}

.modal__field-comments::placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}
// checkbox

.modal__checkbox-label {
  display: block;
  position: relative;
  margin: 0 11px 30px 12px;
}

.modal__checkbox {
@extend %visualli-hidden;
}

.modal__checkbox:checked + .modal__svg-checkbox {
  background-color: $accent-color;
  fill: $accent-color;
  border-radius: 3px;
}

.modal__svg-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url(../images/Vector.svg);
  background-size: cover;
  background-origin: border-box;
  cursor: pointer;

  transition: background-color 250ms $timing-function,
    fill 250ms $timing-function,border-radius 250ms $timing-function;
}

.modal__text-checkbox {
  font-size: 14px;
  line-height: 1.71;
  color: $onemore-color;
  margin-left: 24.38px;
}

.modal__link-checkbox {
  font-size: 14px;
  line-height: 1.71;
  color: $accent-color;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-position: under;
}

