.modal__checkbox-label {
  display: block;
  position: relative;
  margin: 0 11px 30px 12px;
}

.modal__checkbox {
@extend %visualli-hidden;
}

.modal__checkbox:checked + .modal__svg-checkbox {
  background-color: $accent-color;
  fill: $accent-color;
  border-radius: 3px;
}

.modal__svg-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url(../images/Vector.svg);
  background-size: cover;
  background-origin: border-box;
  cursor: pointer;

  transition: background-color 250ms $timing-function,
    fill 250ms $timing-function,border-radius 250ms $timing-function;
}

.modal__text-checkbox {
  font-size: 14px;
  line-height: 1.71;
  color: $onemore-color;
  margin-left: 24.38px;
}

.modal__link-checkbox {
  font-size: 14px;
  line-height: 1.71;
  color: $accent-color;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-position: under;
}
