.page-header {
  position: relative;
  padding: 24px 0px;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    background-color: $line-color;
    width: 100%;
    height: 1px;
  }
}

.header-list {
  display: flex;
  align-items: center;
}


