// image title, team title, client title

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  color: primary-color;
  text-align: center;
}
//portfolio project title

.hidden__title {
    @extend %is-hidden;
}
  
  // footer title

.footer-title {
    font-weight: 700;
    font-size: 14px;
    color: $white-color;
    margin-bottom: 20px;
}
