$primary-color: #212121;
$accent-color: #2196f3;
$onemore-color: #757575;
$white-color: #ffffff;
$black-color: #2f303a;
$team-color: #f5f4fa;
$black-dark-color: #000000;
$link-color: rgba(255, 255, 255, 0.6);
$line-color: #ececec;
$card-border-color: #eeeeee;
$icon-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font: "Roboto", "Arial", sans-serif;
$secondary-font: "Raleway", sans-serif;

